<section class="module-hero">	
	<div class="container">
		<div class="columns eight">
			    <!-- Burger-Icon -->
			    <div class="b-container">
			        <div class="b-menu">
			            <div class="b-bun b-bun--top"></div>
			            <div class="b-bun b-bun--mid"></div>
			            <div class="b-bun b-bun--bottom"></div>
			        </div>
			    </div> 
			</nav>
			{{ content }}
		</div>
	</div>
</section>