/*
 *
 * COLORS
 *
 */
/*
 *
 * SIZES
 *
 */
/*
 *
 * FONTS
 *
 */
html {
  background: #46262B; }

body {
  margin: 0;
  padding: 0;
  background: #fff; }

hr {
  border: 0;
  border-bottom: 1px solid #f3f4f5;
  margin: 4rem auto; }

img {
  max-width: 100%; }

@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/CrimsonText-Roman.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/CrimsonText-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/CrimsonText-Semibold.ttf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/CrimsonText-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/CrimsonText-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Crimson Text';
  src: url("../fonts/CrimsonText-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Julius Sans One';
  src: url("../fonts/JuliusSansOne-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 300;
  font-style: normal; }
.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 600px) {
    .container {
      padding: 0 4rem; } }
  .container .container {
    padding: 0; }

.column,
.columns {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 600px) {
    .column.one,
    .columns.one {
      width: 6.77966%;
      float: left;
      margin-right: 1.69492%; }
      .column.one.last,
      .columns.one.last {
        width: 6.77966%;
        float: right;
        margin-right: 0; }
    .column.two,
    .columns.two {
      width: 15.25424%;
      float: left;
      margin-right: 1.69492%; }
      .column.two.last,
      .columns.two.last {
        width: 15.25424%;
        float: right;
        margin-right: 0; }
    .column.three,
    .columns.three {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%; }
      .column.three.last,
      .columns.three.last {
        width: 23.72881%;
        float: right;
        margin-right: 0; }
    .column.four,
    .columns.four {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
      .column.four.last,
      .columns.four.last {
        width: 32.20339%;
        float: right;
        margin-right: 0; }
    .column.five,
    .columns.five {
      width: 40.67797%;
      float: left;
      margin-right: 1.69492%; }
      .column.five.last,
      .columns.five.last {
        width: 40.67797%;
        float: right;
        margin-right: 0; }
    .column.six,
    .columns.six {
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%; }
      .column.six.last,
      .columns.six.last {
        width: 49.15254%;
        float: right;
        margin-right: 0; }
    .column.seven,
    .columns.seven {
      width: 57.62712%;
      float: left;
      margin-right: 1.69492%; }
      .column.seven.last,
      .columns.seven.last {
        width: 57.62712%;
        float: right;
        margin-right: 0; }
    .column.eight,
    .columns.eight {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%; }
      .column.eight.last,
      .columns.eight.last {
        width: 66.10169%;
        float: right;
        margin-right: 0; }
    .column.nine,
    .columns.nine {
      width: 74.57627%;
      float: left;
      margin-right: 1.69492%; }
      .column.nine.last,
      .columns.nine.last {
        width: 74.57627%;
        float: right;
        margin-right: 0; }
    .column.ten,
    .columns.ten {
      width: 83.05085%;
      float: left;
      margin-right: 1.69492%; }
      .column.ten.last,
      .columns.ten.last {
        width: 83.05085%;
        float: right;
        margin-right: 0; }
    .column.eleven,
    .columns.eleven {
      width: 91.52542%;
      float: left;
      margin-right: 1.69492%; }
      .column.eleven.last,
      .columns.eleven.last {
        width: 91.52542%;
        float: right;
        margin-right: 0; } }

.gallery {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  .gallery.six--mobile {
    width: 49.15254%;
    float: left; }
    .gallery.six--mobile:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .gallery.six--mobile:nth-child(2n + 2) {
      margin-left: 50.84746%;
      margin-right: -100%;
      clear: none; }
  @media (min-width: 600px) {
    .gallery.one {
      width: 6.77966%;
      float: left; }
      .gallery.one:nth-child(12n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .gallery.one:nth-child(12n + 2) {
        margin-left: 8.47458%;
        margin-right: -100%;
        clear: none; }
      .gallery.one:nth-child(12n + 3) {
        margin-left: 16.94915%;
        margin-right: -100%;
        clear: none; }
      .gallery.one:nth-child(12n + 4) {
        margin-left: 25.42373%;
        margin-right: -100%;
        clear: none; }
      .gallery.one:nth-child(12n + 5) {
        margin-left: 33.89831%;
        margin-right: -100%;
        clear: none; }
      .gallery.one:nth-child(12n + 6) {
        margin-left: 42.37288%;
        margin-right: -100%;
        clear: none; }
      .gallery.one:nth-child(12n + 7) {
        margin-left: 50.84746%;
        margin-right: -100%;
        clear: none; }
      .gallery.one:nth-child(12n + 8) {
        margin-left: 59.32203%;
        margin-right: -100%;
        clear: none; }
      .gallery.one:nth-child(12n + 9) {
        margin-left: 67.79661%;
        margin-right: -100%;
        clear: none; }
      .gallery.one:nth-child(12n + 10) {
        margin-left: 76.27119%;
        margin-right: -100%;
        clear: none; }
      .gallery.one:nth-child(12n + 11) {
        margin-left: 84.74576%;
        margin-right: -100%;
        clear: none; }
      .gallery.one:nth-child(12n + 12) {
        margin-left: 93.22034%;
        margin-right: -100%;
        clear: none; }
    .gallery.two {
      width: 15.25424%;
      float: left; }
      .gallery.two:nth-child(6n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .gallery.two:nth-child(6n + 2) {
        margin-left: 16.94915%;
        margin-right: -100%;
        clear: none; }
      .gallery.two:nth-child(6n + 3) {
        margin-left: 33.89831%;
        margin-right: -100%;
        clear: none; }
      .gallery.two:nth-child(6n + 4) {
        margin-left: 50.84746%;
        margin-right: -100%;
        clear: none; }
      .gallery.two:nth-child(6n + 5) {
        margin-left: 67.79661%;
        margin-right: -100%;
        clear: none; }
      .gallery.two:nth-child(6n + 6) {
        margin-left: 84.74576%;
        margin-right: -100%;
        clear: none; }
    .gallery.three {
      width: 23.72881%;
      float: left; }
      .gallery.three:nth-child(4n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .gallery.three:nth-child(4n + 2) {
        margin-left: 25.42373%;
        margin-right: -100%;
        clear: none; }
      .gallery.three:nth-child(4n + 3) {
        margin-left: 50.84746%;
        margin-right: -100%;
        clear: none; }
      .gallery.three:nth-child(4n + 4) {
        margin-left: 76.27119%;
        margin-right: -100%;
        clear: none; }
    .gallery.four {
      width: 32.20339%;
      float: left; }
      .gallery.four:nth-child(3n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .gallery.four:nth-child(3n + 2) {
        margin-left: 33.89831%;
        margin-right: -100%;
        clear: none; }
      .gallery.four:nth-child(3n + 3) {
        margin-left: 67.79661%;
        margin-right: -100%;
        clear: none; }
    .gallery.five {
      width: 40.67797%;
      float: left; }
      .gallery.five:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .gallery.five:nth-child(2n + 2) {
        margin-left: 42.37288%;
        margin-right: -100%;
        clear: none; }
    .gallery.six {
      width: 49.15254%;
      float: left; }
      .gallery.six:nth-child(2n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
      .gallery.six:nth-child(2n + 2) {
        margin-left: 50.84746%;
        margin-right: -100%;
        clear: none; }
    .gallery.seven {
      width: 57.62712%;
      float: left; }
      .gallery.seven:nth-child(1n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
    .gallery.eight {
      width: 66.10169%;
      float: left; }
      .gallery.eight:nth-child(1n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
    .gallery.nine {
      width: 74.57627%;
      float: left; }
      .gallery.nine:nth-child(1n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
    .gallery.ten {
      width: 83.05085%;
      float: left; }
      .gallery.ten:nth-child(1n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; }
    .gallery.eleven {
      width: 91.52542%;
      float: left; }
      .gallery.eleven:nth-child(1n + 1) {
        margin-left: 0;
        margin-right: -100%;
        clear: both;
        margin-left: 0; } }

.region--main {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 4rem 0; }
  @media (min-width: 600px) {
    .region--main {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      padding-right: 4rem;
      border-right: 1px solid #f3f4f5; } }

.region--sidebar {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 4rem 0; }
  @media (min-width: 600px) {
    .region--sidebar {
      width: 32.20339%;
      float: right;
      margin-right: 0;
      padding-left: 2rem; } }

html {
  font-size: 62.5%; }

body, p, li, ol, ul, blockquote, code {
  font-family: "Crimson Text", "Times New Roman", serif;
  font-size: 1.8rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  color: #555; }
  @media (min-width: 600px) {
    body, p, li, ol, ul, blockquote, code {
      font-size: 1.6rem;
      line-height: 1.3; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Julius Sans One", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  margin: 4rem 0 2.5rem 0;
  color: #222; }

h1 {
  font-size: 5rem; }
  @media (max-width: 600px) {
    h1 {
      font-size: 4rem;
      margin: 3rem 0 2rem 0; } }

h2 {
  font-size: 4rem; }
  @media (max-width: 600px) {
    h2 {
      font-size: 3.2rem;
      margin: 3rem 0 1.5rem 0; } }

h3 {
  font-size: 3rem;
  font-family: "Crimson Text", "Times New Roman", serif; }
  @media (max-width: 600px) {
    h3 {
      font-size: 2.4rem;
      margin: 2.5rem 0 1.5rem 0; } }

h4 {
  font-size: 2.4rem; }
  @media (max-width: 600px) {
    h4 {
      margin: 2.5rem 0 1.5rem 0; } }

h5 {
  font-size: 1.8rem;
  font-family: "Crimson Text", "Times New Roman", serif;
  font-weight: 600;
  margin: 3rem 0 1rem 0; }

h6 {
  font-size: 1.6rem;
  font-family: "Crimson Text", "Times New Roman", serif;
  font-weight: 600;
  margin: 2.5rem 0 1rem 0; }

h5 + p,
h6 + p {
  margin-top: 0; }

a {
  color: #11B3DC;
  text-decoration: none; }
  a:hover {
    color: #49cff1;
    text-decoration: none;
    border-bottom: 2px solid #49cff1; }
  a[rel=lightbox] {
    border: none; }
    a[rel=lightbox]:hover img {
      border-color: #49cff1; }

strong, em {
  line-height: 1; }

blockquote {
  padding: 1rem;
  border-left: 2px solid #f3f4f5;
  margin: 1rem; }
  blockquote p {
    margin: 0;
    font-style: italic; }
  blockquote p + p {
    margin-top: 1rem; }
  blockquote em {
    font-style: normal; }

li {
  margin: .5rem 0; }
  li a {
    font-family: "Julius Sans One", "Open Sans", "Helvetica Neue", Helvetica, sans-serif; }

.global-header {
  background: url(../images/header-bg.jpg) no-repeat 50%;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.35); }

.site-logo {
  float: left;
  margin: 1.2rem 0 1.3rem 0;
  padding: 1rem 1rem 1rem 0;
  font-family: "Julius Sans One", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2rem;
  color: #fff; }
  @media (min-width: 600px) {
    .site-logo {
      margin-top: 1.8rem; } }
  .site-logo:hover {
    border: 0;
    color: #fff; }

.global-footer {
  background: #46262B;
  padding: 2rem 0; }
  .global-footer p {
    margin: 0;
    color: #fff; }
  .global-footer .back-to-top {
    float: right;
    font-family: "Julius Sans One", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    border-color: #fff; }

.navigation {
  float: right;
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;
  display: none; }
  @media (min-width: 600px) {
    .navigation {
      display: block; } }
  .navigation .navigation__item {
    float: left; }
    .navigation .navigation__item.active .navigation__link {
      color: #fff;
      border-bottom: 2px solid #fff; }
  .navigation .navigation__link {
    display: block;
    padding: 1rem 0rem;
    margin: 0 1rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    border-bottom: 2px solid transparent; }
    .navigation .navigation__link:hover {
      color: #fff;
      border-bottom: 2px solid #fff; }

body:after {
  position: absolute;
  z-index: 0;
  bottom: -1px;
  height: auto;
  width: auto;
  right: 0; }

body.open:after {
  position: fixed;
  z-index: 1;
  background: #46262B; }

.b-container {
  top: 4px;
  right: 4px;
  left: auto; }
  @media (min-width: 600px) {
    .b-container {
      display: none; } }
  .b-container:hover:not(.open) .b-menu {
    background: none; }
  .b-container.open .b-main, .b-container.open .b-menu:hover {
    border: 2px solid transparent; }
  .b-container.open .b-bun--top, .b-container.open .b-bun--bottom {
    background: #fff; }
  .b-container .b-menu:hover {
    border: 2px solid transparent; }

.b-menu {
  background: none;
  border: 2px solid transparent;
  z-index: 11; }

.b-bun {
  background: #fff; }
  .module-hero .b-bun {
    background: #222; }

.b-nav {
  z-index: -1; }
  .b-nav .site-logo {
    position: relative;
    z-index: 1;
    margin-left: 2rem; }
  .b-nav ul {
    padding: 0; }
  .b-nav.open {
    z-index: 11; }

.b-nav li:first-child {
  padding-top: 100px; }

.b-nav li ul {
  margin: 0; }

.b-nav li li:first-child {
  padding-top: 10px; }

.b-nav li li:last-child {
  padding-bottom: 0; }

.b-link {
  font-family: "Julius Sans One", "Open Sans", "Helvetica Neue", Helvetica, sans-serif; }
  .b-link--active, .b-link:hover {
    border-bottom: none;
    color: #fff; }

div#breadcrumbs {
  padding: 0;
  margin-top: 2rem; }
  @media (max-width: 600px) {
    div#breadcrumbs {
      height: auto; } }
  div#breadcrumbs a, div#breadcrumbs span {
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.3; }
  div#breadcrumbs a {
    border: none;
    padding: 0 1rem; }
    div#breadcrumbs a span {
      font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
      color: #11B3DC;
      padding: 0; }
      div#breadcrumbs a span:hover {
        color: #49cff1;
        border-bottom: 2px solid #49cff1; }
  div#breadcrumbs span {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif; }
  div#breadcrumbs i {
    background: url(../images/icon-arrow-right-grey.png) no-repeat 50%;
    height: 1rem; }

@media (min-width: 600px) {
  .region--sidebar > section.module:first-of-type {
    padding-top: 9rem; } }
.module-categories {
  padding: 2rem 0; }
  .module-categories__title {
    margin: 0;
    padding-right: 4rem; }
  .module-categories__description {
    padding-right: 4rem; }
  .module-categories__list {
    padding: 0 4rem 0 0;
    list-style: none; }
  .module-categories__list-item {
    margin: .5rem 0; }
  .module-categories__link {
    font-family: "Julius Sans One", "Open Sans", "Helvetica Neue", Helvetica, sans-serif; }
  .module-categories .gallery {
    margin-bottom: 5rem; }

.module-featured {
  background: #f9f9f9;
  padding: 2rem 0; }
  .module-featured__title {
    margin: 0; }
  .module-featured__link {
    margin: 0 0 3rem 0;
    font-family: "Julius Sans One", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal; }

.module-hero {
  min-height: 40rem;
  padding: 6.5rem 0 4rem 0;
  box-sizing: border-box;
  background: url(../images/hero-landing.jpg) #46262B no-repeat 50%;
  background-position-y: -75px;
  -webkit-background-size: cover;
  background-size: cover; }
  @media (min-width: 600px) {
    .module-hero {
      padding: 12.5rem 0 4rem 0;
      background-position-y: auto; } }
  .module-hero h1, .module-hero h2, .module-hero h3, .module-hero h4, .module-hero h5, .module-hero h6, .module-hero p {
    color: #fff; }
  .module-hero h1 {
    font-size: 5rem;
    margin: 4rem 0 2.5rem 0; }
  .module-hero p {
    line-height: 1.5; }

.module-section__list {
  list-style: none;
  padding-left: 2rem; }

.module-rulers__header {
  margin-bottom: 0; }
.module-rulers__article {
  border-bottom: 1px solid #f3f4f5;
  padding: 2rem 0 0 0; }
.module-rulers__title {
  margin: 0; }
.module-rulers__reign {
  float: right;
  margin: 0.5rem 0 0 0; }
  @media (min-width: 600px) {
    .module-rulers__reign {
      margin: 1rem 0 0 0; } }
  .module-rulers__reign span {
    font-style: italic; }
.module-rulers__link {
  margin-top: 0;
  text-align: right;
  font-weight: normal; }

.module-listing__list {
  list-style: none;
  padding-left: 2rem; }
.module-listing__item {
  margin-bottom: 4rem; }
  @media (min-width: 600px) {
    .module-listing__item {
      margin-bottom: 2rem; } }

.module--writing p {
  text-indent: 1.5rem; }

.module-notable__header {
  margin-bottom: 0; }
.module-notable__article {
  border-bottom: 1px solid #f3f4f5;
  padding: 2rem 0 0 0; }
.module-notable__title {
  margin: 0; }
.module-notable__era {
  float: right;
  font-style: italic;
  font-size: 1.8rem;
  line-height: 2.4; }
  @media (min-width: 600px) {
    .module-notable__era {
      line-height: 3; } }
.module-notable__link {
  margin-top: 0;
  text-align: right;
  font-weight: normal; }

.module-regions__header {
  margin-bottom: 0; }
.module-regions__region {
  border-bottom: 1px solid #f3f4f5;
  padding: 2rem 0 0 0; }
.module-regions__title {
  margin: 0; }
.module-regions__era {
  float: right;
  font-style: italic;
  font-size: 1.8rem;
  line-height: 2.4; }
  @media (min-width: 600px) {
    .module-regions__era {
      line-height: 3; } }
.module-regions__link {
  margin-top: 0;
  text-align: right;
  font-weight: normal; }

.module-map img, .module--map img {
  border: 2px solid #46262B; }
  a:hover .module-map img, a:hover .module--map img {
    border: 2px solid #11B3DC; }
.module-map > p, .module--map > p {
  margin: 0; }
.module-listing .module-map p, .module-listing .module--map p {
  margin: 0; }

@media (min-width: 600px) {
  .region--sidebar > section.module-map:first-of-type {
    margin-top: 3rem; } }

/*# sourceMappingURL=aedjhelas.css.map */
