body:after {
	position: absolute;
	z-index: 0;
	bottom: -1px;
    height: auto;
    width: auto;
    right: 0;
}

body.open:after {
	position: fixed;
	z-index: 1;
	background: $colorBackgroundFooter;
}

.b-container {
	top: 4px;
	right: 4px;
	left: auto;

	@media (min-width: 600px) {
		display: none;
	}

	&:hover {
		&:not(.open) .b-menu {
			background: none;
		}
	}

	&.open {

		.b-main, .b-menu:hover {
			border: 2px solid transparent;
		}

		.b-bun--top, .b-bun--bottom {
			background: $colorTextNavigation;
		}
	}

	.b-menu:hover {
		border: 2px solid transparent;
	}
}

.b-menu {
	background: none;
	border: 2px solid transparent;
	z-index: 11;
}

.b-bun {
	background: $colorTextNavigation;

	.module-hero & {
	    background: $colorTextHeading;
	}
}

.b-nav {
	z-index: -1;

	.site-logo {
		position: relative;
		z-index: 1;
		margin-left: 2rem;
	}

	ul {
		padding: 0; 
	}
	
	&.open {
		z-index: 11;
	}
}

.b-nav li:first-child {
	padding-top: 100px;
}

.b-nav li ul {
	margin: 0;
}

.b-nav li li:first-child {
	padding-top: 10px;
}

.b-nav li li:last-child {
	padding-bottom: 0;
}

.b-link {
	font-family: $fontHeading;
	
	&--active, &:hover {
		border-bottom: none;
		color: $colorTextNavigation;
	}
}