html {
	background: $colorBackgroundFooter;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
}

hr {
	border: 0;
	border-bottom: 1px solid $genericBorder;
	margin: 4rem auto;
}

img {
	max-width: 100%;
}