html {
	font-size: 62.5%;
}

body, p, li, ol, ul, blockquote, code {
	font-family: $fontBase;
	font-size: $sizeTextMobile;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
	color: $colorTextBase;

	@media (min-width: 600px) {
		font-size: $sizeTextBase;
		line-height: 1.3;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $fontHeading;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5;
    margin: 4rem 0 2.5rem 0;
    color: $colorTextHeading;
}

h1 {
	font-size: $sizeTextHeading;

	@media (max-width: 600px) {
		font-size: $sizeTextHeading * $mobileHeadingScaleFactor;
		margin: 3rem 0 2rem 0;
	}
}

h2 {
	font-size: $sizeTextHeading2;

	@media (max-width: 600px) {
		font-size: $sizeTextHeading2 * $mobileHeadingScaleFactor;
		margin: 3rem 0 1.5rem 0;
	}
}

h3 {
	font-size: $sizeTextHeading3;
	font-family: $fontBase;

	@media (max-width: 600px) {
		font-size: $sizeTextHeading3 * $mobileHeadingScaleFactor;
		margin: 2.5rem 0 1.5rem 0;
	}
}

h4 {
	font-size: $sizeTextHeading4;

	@media (max-width: 600px) {
		margin: 2.5rem 0 1.5rem 0;
	}
}

h5 {
	font-size: $sizeTextHeading5;
	font-family: $fontBase;
	font-weight: 600;
    margin: 3rem 0 1rem 0;
}

h6 {
	font-size: $sizeTextHeading6;
	font-family: $fontBase;
	font-weight: 600;
    margin: 2.5rem 0 1rem 0;
}

h5 + p,
h6 + p {
	margin-top: 0;
}

a {
	color: $colorTextAnchor;
	text-decoration: none;

	&:hover {
		color: $colorTextAnchorHover;
		text-decoration: none;
		border-bottom: 2px solid $colorTextAnchorHover;
	} 

	&[rel=lightbox]{
		border: none;

		&:hover img {
			border-color: $colorTextAnchorHover; 
		}
	}
}

strong, em {
	line-height: 1;
}

blockquote {
	padding: 1rem;
	border-left: 2px solid $genericBorder;
	margin: 1rem;
 	
 	p {
		margin: 0;
		font-style: italic;
	}

	p + p {
	    margin-top: 1rem;
	}

	em {
		font-style: normal;
	}
}

li {
	margin: .5rem 0;

	a {
		font-family: $fontHeading;
	}
}
