/*
 *
 * COLORS
 *
 */

// 
// TEXT
// 

$colorTextBase: 				#555;
$colorTextHeading: 				#222;
$colorTextAnchor: 				#11B3DC;
$colorTextAnchorHover: 			lighten(#11B3DC, 15%);

$colorTextNavigation: 			#fff;
$colorTextNavigationHover: 		#fff;

$colorTextHero: 				#fff;
$colorTextFooter: 				#fff;

$colorBackgroundFooter: 		#46262B;
$colorBorderImage: 				#46262B;
$colorBackgroundOffWhite: 		#f9f9f9;

$genericShadow: 				rgba(0,0,0,0.35);
$genericBorder: 				#f3f4f5;

/*
 *
 * SIZES
 *
 */

// 
// TEXT
// 

$sizeTextBase: 					1.6rem;
$sizeTextMobile:				1.8rem;
$sizeTextHeading: 				5rem;
$sizeTextHeading2: 				4rem;
$sizeTextHeading3: 				3rem;
$sizeTextHeading4: 				2.4rem;
$sizeTextHeading5: 				1.8rem;
$sizeTextHeading6: 				1.6rem;


/*
 *
 * FONTS
 *
 */

$fontHeading: 					'Julius Sans One', 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$fontBase: 						'Crimson Text', 'Times New Roman', serif;
$fontNavigation: 				'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;