.global-header {
	background: url(../images/header-bg.jpg) no-repeat 50%;
	-webkit-background-size: cover;
	background-size: cover;

	-webkit-box-shadow: 0 0 5px 0 $genericShadow;
	-moz-box-shadow: 0 0 5px 0 $genericShadow;
	box-shadow: 0 0 5px 0 $genericShadow;	
}

.site-logo {
	float: left;
	margin: 1.2rem 0 1.3rem 0;
	padding: 1rem 1rem 1rem 0;
	font-family: $fontHeading;
	font-size: 2rem;
	color: $colorTextNavigation;

	@media (min-width: 600px) {
		margin-top: 1.8rem;
	}

	&:hover {
		border: 0;
		color: $colorTextNavigationHover;
	}
}