.global-footer {
	background: $colorBackgroundFooter;
	padding: 2rem 0;

	p {
		margin: 0;
		color: $colorTextFooter;
	}

	.back-to-top {
		float: right;
		font-family: $fontHeading;
		color: $colorTextFooter;
		border-color: $colorTextFooter;
	}
}