.module-categories {
	padding: 2rem 0;

	&__title {
		margin: 0;
		padding-right: 4rem;
	}

	&__description {
		padding-right: 4rem;
	}

	&__list {
		padding: 0 4rem 0 0;
		list-style: none;
	}

	&__list-item {
		margin: .5rem 0;
	}

	&__link {
		font-family: $fontHeading;
	}

	.gallery {
		margin-bottom: 5rem;
	}
}