.module-hero {
	min-height: 40rem;
	padding: 5.5rem 0 4rem 0;
	box-sizing: border-box;
	background: url(../images/hero-landing.jpg) $colorBackgroundFooter no-repeat 50%;
	background-position-y: -75px;
	-webkit-background-size: cover;
	background-size: cover;

	@media (min-width: 600px) {
		padding: 12.5rem 0 4rem 0;
		background-position-y: auto;
	}

	h1, h2, h3, h4, h5, h6, p {
		color: $colorTextHero;
	}

	p {
		line-height: 1.5;
	}
}