.module-map, .module--map {

	img {
		border: 2px solid $colorBorderImage;

		a:hover & {
			border: 2px solid $colorTextAnchor;
		}
	}
}

@media (min-width: 600px) {
	.region--sidebar > section.module-map:first-of-type {
	    margin-top: 3rem;
	}
}