.module-map, .module--map {

	img {
		border: 2px solid $colorBorderImage;

		a:hover & {
			border: 2px solid $colorTextAnchor;
		}
	}

	> p {
		margin: 0;
	}

	.module-listing & p {
		margin: 0;
	}
}

@media (min-width: 600px) {
	.region--sidebar > section.module-map:first-of-type {
	    margin-top: 3rem;
	}
}