.module-notable {

	&__header {
		margin-bottom: 0;
	}

	&__article {
		border-bottom: 1px solid $genericBorder;
		padding: 2rem 0 0 0;
	}

	&__title {
		margin: 0;
	}

	&__era {
		float: right;
		font-style: italic;
		font-size: $sizeTextHeading5;
		line-height: 3;
	}

	&__link {
		margin-top: 0;
		text-align: right;
	}
}